
@{
    ViewData["Title"] = "ContactUS";
    Layout = "NavBar2";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melipona - Beekeeping and Honey Shop HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="ّّ~images/favicon.png">
    <!-- Scrollbar -->
    <link rel="stylesheet" href="~/css/simplebar.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/css/animations.min.css">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/fonts/flaticon-2/flaticon_mycollection.css">
    <link rel="stylesheet" href="~/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/fonts/ionicons/ionicons.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!--  Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>
    <!-- loading start -->
    @* <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="images/loading-img.png" alt="loading">
        </div>
    </div> *@
    <!-- loading end -->
    <!-- Header start -->
    <div class="pq-background-overlay"></div>


   
    <!-- Breadcrumb start -->
    <div class="pq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index-2.html">
                                        <i class="fas fa-home mr-2"></i>الرئيسية
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    تواصل معنا
                                </li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <!-- Contact Us Start -->
    <section class="contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="pq-section-title">
                        <div class="pq-sub-title">
                            <span class="sub-title-icon-left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                    <path d="M9.93958 9.4597V14.75C9.93958 15.0815 10.0696 15.3995 10.3046 15.6339C10.5395 15.8683 10.8571 16 11.1895 16C11.8795 16 12.4395 15.4404 12.4395 14.75V12.8585C12.4395 12.1682 12.9994 11.6085 13.6894 11.6085C14.3794 11.6085 14.9394 11.0489 14.9394 10.3586V7.90668" stroke="#FFB606" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M10.6846 3.13357C10.1972 2.64574 10.1972 1.8536 10.6846 1.36579C11.1721 0.877986 11.9646 0.877986 12.4521 1.36579L15.6344 4.54774C16.1219 5.03561 16.1219 5.82768 15.6344 6.31552C15.1469 6.80336 14.3545 6.80336 13.867 6.31552L10.6846 3.13357Z" stroke="#FFB606" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.2097 4.19423C7.72225 3.70639 7.72225 2.91429 8.2097 2.42648C8.69721 1.93864 9.48965 1.93864 9.97713 2.42648L14.5719 7.02264C15.0619 7.51048 15.0619 8.30259 14.5719 8.79039C14.0844 9.2782 13.292 9.2782 12.8045 8.79039L8.2097 4.19423Z" stroke="#FFB606" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.1497 6.66931C6.65973 6.1815 6.65973 5.3894 7.1497 4.90156C7.63721 4.41375 8.42965 4.41375 8.91716 4.90156L12.097 8.08353C12.587 8.57134 12.587 9.36344 12.097 9.85128C11.6095 10.3391 10.8171 10.3391 10.3296 9.85128L7.1497 6.66931Z" stroke="#FFB606" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M9.44713 8.96731L2.70743 15.7073C2.31747 16.0976 1.68246 16.0976 1.29251 15.7073C0.902497 15.3171 0.902497 14.6834 1.29251 14.2931L8.03218 7.55315L9.44713 8.96731Z" stroke="#FFB606" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            <span class="pq-section-sub-title">تواصل معنا </span>

                        </div>
                        <h5 class="pq-section-main-title">أرسل لنا رسالة</h5>
                        <p class="section-description">نحن هنا للإجابة على استفساراتكم. يرجى ملء النموذج أدناه وإرسال رسالتكم، وسنعود إليكم في أقرب وقت ممكن.</p>>
                       
                    </div>

                    <form class="pq-contact style-2" method="post" asp-action="contactUs">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="Name" class="form-control" placeholder="اسمك الكامل">
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="Email" class="form-control" placeholder="البريد الإلكتروني">
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="subject" class="form-control" placeholder="عنوان الرسالة">
                            </div>

                          

                            <div class="col-md-12">
                                <textarea name="Message" cols="40" rows="4" aria-required="true" aria-invalid="false" placeholder="رسالتك"></textarea>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="button-flat">ارسال الرسالة</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-lg-5 mt-30 mt-xl-0 ">
                    <div class="pq-contact-box">
                        <div class="pq-icon-box">
                            <div class="pq-icon-box-icon">
                                <i class="pt-flaticon-location"></i>
                            </div>
                            <div class="pq-icon-box-content">
                                <h4 class="pq-icon-box-title">العنوان</h4>
                                <p class="pq-icon-box-description">جرش</p>
                                <p class="pq-icon-box-description"> شارع 20</p>
                            </div>
                        </div>

                        <div class="pq-icon-box">
                            <div class="pq-icon-box-icon">
                                <i class="pt-flaticon-telephone-1"></i>
                            </div>
                            <div class="pq-icon-box-content">
                                <h4 class="pq-icon-box-title">الهاتف </h4>
                                <p class="pq-icon-box-description">+962 772 115 442</p>
                                <p class="pq-icon-box-description">+962 772 001 204</p>
                            </div>
                        </div>

                        <div class="pq-icon-box">
                            <div class="pq-icon-box-icon">
                                <i class="pt-flaticon-envelope"></i>
                            </div>
                            <div class="pq-icon-box-content">
                                <h4 class="pq-icon-box-title">البريد الإلكتروني </h4>
                                <p class="pq-icon-box-description">zainawnahool@gmail.com</p>
                            </div>
                        </div>

                        <div class="pq-icon-box">
                            <div class="pq-icon-box-icon">
                                <i class="ion ion-clock"></i>
                            </div>
                            <div class="pq-icon-box-content">
                                <h4 class="pq-icon-box-title">ساعات العمل </h4>
                                <div class="pq-weekly-time">
                                    <p class="pq-icon-box-description">الاحد – الاربعاء</p>
                                    <p class="pq-icon-box-description">9am – 4pm</p>
                                </div>

                                <div class="pq-weekly-time">
                                    <p class="pq-icon-box-description">السبت</p>
                                    <p class="pq-icon-box-description">10am – 11pm</p>
                                </div>


                                <div class="pq-weekly-time">
                                    <p class="pq-icon-box-description">الأحد </p>
                                    <p class="pq-icon-box-description">مغلق</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us End -->
    <!-- Map Start -->
    <div class="pq-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d317893.19730324426!2d-0.1195537!3d51.5032973!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye%20Riverside%20Building%2C%20County%20Hall%20London%20SE1%207PB%20United%20Kingdom!3m2!1d51.5032973!2d-0.1195537!5e0!3m2!1sen!2sin!4v1652772883319!5m2!1sen!2sin" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->
    <!-- Faqs Start -->
    <section class="faq pq-bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-accordion-block">
                        <div class="pq-accordion-box">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    <span class="pq-title-main">أرغب في إرسال طلبي كهدية. هل هذا ممكن؟</span>
                                    <span class="pq-icon-bg">
                                        <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i>
                                        <i aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </span>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">نعم، بالتأكيد! يمكنك إرسال طلبك كهدية. نحن نقدم خدمة تغليف الهدايا بشكل أنيق مع إمكانية إضافة رسالة شخصية. كل ما عليك فعله هو اختيار خيار "إرسال كهدية" عند إتمام الطلب، وتزويدنا بتفاصيل المستلم والعنوان المطلوب. إذا كنت بحاجة إلى أي مساعدة إضافية، لا تتردد في التواصل معنا. ❤️🎁</p>
                            </div>
                        </div>

                        <div class="pq-accordion-box">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    <span class="pq-title-main">لم يصل طلبي ماذا يمكنني أن أفعل؟</span>
                                    <span class="pq-icon-bg">
                                        <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i>
                                        <i aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </span>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">
                                    إذا لم يصل طلبك في الوقت المتوقع، نرجو منك اتباع الخطوات التالية:

                                    التحقق من حالة الطلب: يمكنك مراجعة حالة طلبك باستخدام رقم التتبع المرسل إليك عبر البريد الإلكتروني أو الرسائل النصية.
                                    الاتصال بخدمة العملاء: تواصل معنا مباشرة عبر صفحة "تواصل معنا"، وسنساعدك في تتبع الطلب وحل المشكلة.
                                    التحقق من العنوان: تأكد من صحة العنوان الذي أدخلته عند الطلب لتجنب أي تأخير في التسليم.
                                    نحن ملتزمون بضمان وصول طلبك بأسرع وقت ممكن!
                                </p>
                            </div>
                        </div>

                        <div class="pq-accordion-box">
                            <div class="pq-ad-title">
                                <h4 class="ad-title-text">
                                    <span class="pq-title-main">كم تكلفة الشحن؟</span>
                                    <span class="pq-icon-bg">
                                        <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i>
                                        <i aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </span>
                                </h4>
                            </div>
                            <div class="pq-accordion-details">
                                <p class="pq-detail-text">تختلف تكلفة الشحن حسب موقعك ووزن الطلب. للحصول على تقدير دقيق، يرجى التواصل معنا أو الاطلاع على تفاصيل الشحن أثناء إتمام الطلب.</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Faqs End -->
  

    <!--jquery js-->
    <script src="~/js/jquery-3.7.1.js"></script>
    <!--bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Scrollbar -->
    <script src="~/js/simplebar.min.js"></script>
    <!--owl-carousal-->
    <script src="~/js/owl.carousel.js"></script>
    <!-- Isotope Js -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!--countTo js-->
    <script src="~/js/jquery.countTo.min.js"></script>
    <!--Maginfic-Popup js-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Animation JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/js/slick.js"></script>
    <!--custom js-->
    <script src="~/js/custom.js"></script>
</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'},{'ap':'cpbh-mt'},{'server':'sg2plmcpnl492384'},{'dcenter':'sg2'},{'cp_id':'9858662'},{'cp_cache':''},{'cp_cl':'8'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='../../../../img1.wsimg.com/signals/js/clients/scc-c2/scc-c2.min.js'></script>



